<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADNoyYIOyU3FOD970sHgrJIjTv__7yEa8</string>
	<key>GCM_SENDER_ID</key>
	<string>925527396820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mistApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smart-road-services</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-road-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925527396820:ios:672238a64f5b98ad764641</string>
</dict>
</plist>